@import "nextjs-darkmode-lite/css";
@import "@repo/shared/dist/global.css";
@import "@repo/shared/dist/index.css";
@import "react18-loaders/styles";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  tab-size: 4;
}
