.examples {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  max-width: var(--max-width);
  width: 80vw;
  height: 80vh;
  box-shadow: 0 0 5px gray;
  overflow: auto;
}

.examples hr {
  width: 90%;
  margin-bottom: 30px;
}

.featured {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  overflow: auto;
  height: calc(100% - 100px);
}
