.fork {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	width: var(--w);
	height: var(--h);
	transform: rotate(45deg);
	top: calc(0.354 * var(--w) - var(--h));
	right: calc(-0.14 * var(--w) - 0.5 * var(--h));
	color: var(--tc);
	text-decoration: none;
	background-color: var(--bc);
	border: 1px dashed gray;
	text-shadow:
		0px 1px 0px rgba(255, 255, 255, 0.3),
		0px -1px 0px rgba(0, 0, 0, 0.7);
	text-decoration: none;
	z-index: 10000;
}
.fork:hover {
	filter: drop-shadow(0 0 5px var(--sc));
}
